:host {
  display: flex;
  gap: 12px;

  .question-container {
    width: 50%;
  }
  .answer-container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .answer {
      display: inline-flex;
      width: 120px;
      height: 45px;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      border-radius: 12px;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }

      &.selected {
        background-color: #76f441;
        font-weight: bold;
      }
    }
  }

  .leader-board {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 120px;

    .user-detail {
      display: flex;
      justify-content: space-between;
      width: 120px;
    }
  }
}
